* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(circle at left, #200000, #000);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 900px;
}

.card {
  display: flex;
  background: #0f0f0f;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(255,0,0,0.3);
}

/* IMAGE BOX */
.image-box {
  width: 45%;
  position: relative;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(255,0,0,0.4), rgba(0,0,0,0.9));
}

/* FORM */
.form-box {
  width: 55%;
  padding: 60px;
}

.form-box h2 {
  color: #ff4d4d;
  font-size: 32px;
}

.form-box p {
  color: #aaa;
  margin-bottom: 35px;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #444;
  color: #fff;
  font-size: 16px;
}

.input-group label {
  position: absolute;
  left: 10px;
  top: 12px;
  color: #777;
  transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -8px;
  font-size: 12px;
  color: #ff4d4d;
}

.input-group input:focus {
  outline: none;
  border-color: #ff4d4d;
}

.toggle {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #ff4d4d, #ff0000);
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 20px #ff4d4d;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.links a {
  color: #ff4d4d;
  text-decoration: none;
  font-size: 14px;
}

.error {
  color: #ff4d4d;
  margin-top: 10px;
}

/* MODALS */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #0f0f0f;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 40px rgba(255,0,0,0.4);
  animation: pop 0.3s ease;
}

.modal-content input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  background: #111;
  border: 1px solid #333;
  color: white;
  border-radius: 8px;
}

.close {
  posit
