* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(circle at left, #200000, #000);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 900px;
}

.card {
  display: flex;
  background: rgba(15, 15, 15, 0.95);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(255, 0, 0, 0.25);
}

/* LEFT IMAGE */
.image-box {
  width: 45%;
  position: relative;
  background: #000;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.glow {
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 80px rgba(255, 0, 0, 0.6);
}

/* RIGHT FORM */
.form-box {
  width: 55%;
  padding: 60px;
}

.form-box h2 {
  color: #ff4d4d;
  font-size: 32px;
}

.form-box p {
  color: #aaa;
  margin-bottom: 40px;
}

/* INPUT */
.input-group {
  position: relative;
  margin-bottom: 30px;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #444;
  color: white;
  font-size: 16px;
}

.input-group label {
  position: absolute;
  left: 10px;
  top: 12px;
  color: #777;
  transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -8px;
  font-size: 12px;
  color: #ff4d4d;
}

.input-group input:focus {
  outline: none;
  border-color: #ff4d4d;
}

.toggle {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  color: #aaa;
}

/* BUTTON */
button {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  background: linear-gradient(135deg, #ff4d4d, #ff0000);
  border: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  box-shadow: 0 0 20px #ff4d4d;
}

/* ERROR */
.error {
  margin-top: 15px;
  color: #ff4d4d;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 800px) {
  .card {
    flex-direction: column;
  }
  .image-box {
    height: 250px;
    width: 100%;
  }
  .form-box {
    width: 100%;
  }
}
